/* add your scss tweaks here */

.layout {
    display: flex;
    justify-content: space-between;

    /* Replace with your desired color */
    gap: 60px;
}

.main {
    background-color: rgb(219, 219, 219);
}

.sidebar-layout {
    width: 20%;
    text-align: right;

}

.sidebar a {
    color: black;
}

.sidebar ul {
    line-height: 3;
    display: flex;
    flex-direction: column;
}

.container-layout {
    width: 80%;
}

/*for the news section*/
.blog-row {
    border: 1px solid #ccc;
    /* Add an outline or border */
    padding: 15px;
    margin-bottom: 20px;
    /* Add space between rows */
    display: flex;
    /* Add space between rows */
}

/*remove the margins for news*/
.custom-container {
    padding: 0;
    margin: 0;
}

.top-buffer {
    margin-top: 20px;
}

.brand-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.8em;
    /* adjust as needed */
}

.navbar-brand img {
    height: 80px;
    /* adjust as needed */
}

.logo-text-color {
    color: #000000;
    /* replace with your color */
}

.my-color {
    color: #ffffff;
    /* replace with your color */
}

#map {
    height: 350px;
    width: 500px;
}

.search-bar {
    border: 1px solid white;
    /* Set the border to white */
    /* Add other styles as needed */
    color: white;
    border-color: white;
    /* Example border color */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 10vw);
    grid-gap: 5px;
}


.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gallery__item--1 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;

    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}